.pop-up-content-container {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  position: relative;
  padding: 3.2rem 4rem;
  transition: all 0.5s;
  max-height: 95dvh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 92%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pop-up-content-container .close {
  /* position: absolute;
  top: 2rem;
  right: 2rem; */
  cursor: pointer;
  display: flex;
  gap: 2rem;
  justify-content: right;
}
